## .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.dbmdl
*.jfm
*.pfx
*.publishsettings
publish/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.sln.docstates
Generated_Code/
_UpgradeReport_Files/
[Tt]est[Rr]esult*/
[Dd]ebugPS/
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
launchSettings.json

## Rider
.idea/
*.sln.iml

## User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Secrets
appsettings.Development.json
appsettings.Local.json
*.env

## MySQL Workbench backups
*.mwb.bak
